{% extends "auctions/layout.html" %}

{% block title %}Register{% endblock title %}

{% block body %}

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Register">
        </div>
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>

{% endblock %}